[submodule "installer"]
	path = installer
	url = git@github.com:7flash/deno_modern_installer.git
[submodule "webui"]
	path = webui
	url = git@github.com:7flash/webui.git
[submodule "deno-webui"]
	path = deno-webui
	url = git@github.com:7flash/deno-webui.git
[submodule "dynamic-import"]
	path = dynamic-import
	url = git@github.com:7flash/import.git
